service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }

    function isOwner() {
      return request.auth.uid == user;
    }

    match /users/{user} {
      allow read, create: if true;
      allow update, delete: if isAdmin() || isOwner();
      match /private/{key} {
        allow read, create: if isAdmin() || isOwner();
        allow update, delete: if isAdmin() || isOwner();
      }
    }

    match /jobs/{job} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
