<div *ngIf="user" class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            プロフィール
            <button mat-icon-button class="edit-button" (click)="openProfileEditDialog()">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="profile">
            <img src="https://avatars.githubusercontent.com/{{user.gitHub}}" alt="" class="profile__image">
            <div class="profile__body">
              <p class="profile__name">{{user.gitHub}}</p>
              <p class="profile__type">{{(user.type | userType) || 'タイプ未設定'}}</p>
            </div>
          </div>
          <mat-divider></mat-divider>
          <mat-list dense class="profile-list">
            <mat-list-item>
              <mat-icon matListIcon>phone</mat-icon>
              <p matLine>{{user.private?.tel || '未設定'}}
                <mat-icon [inline]="true" matTooltip="自分と応募企業以外に公開されることはありません。">lock</mat-icon>
              </p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>mail</mat-icon>
              <p matLine>{{user.private?.email || '未設定'}}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>color_lens</mat-icon>
              <p matLine>{{user.private?.adobe || '未設定'}}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>code</mat-icon>
              <p matLine>{{user.gitHub || '未設定'}}</p>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            スキル
            <button mat-icon-button class="edit-button">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            実績
            <button mat-icon-button class="edit-button">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="works">
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
            <div class="work">
              <figure class="work__thumbnail" [style.background-image]="'url(http://www.designyourway.net/diverse/5/coolwebsites/music-incubator_eu.jpg)'"></figure>
              <p class="work__title">Webサイト制作Webサイト制作Webサイト制作</p>
              <p class="work__date">2018.4</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            職歴
            <button mat-icon-button class="edit-button" (click)="openExperienceEditDialog()">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
          <mat-icon [inline]="true" matTooltip="自分と応募企業以外に公開されることはありません。">lock</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item *ngFor="let experience of user.experiences">
              <p matLine><strong>{{experience.name}}</strong></p>
              <p matLine>{{experience.start | date:'yyyy/mm'}} - {{experience.end | date:'yyyy/mm'}}</p>
              <p matLine>{{experience.description}}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            学歴
            <button mat-icon-button class="edit-button">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
          <mat-icon [inline]="true" matTooltip="自分と応募企業以外に公開されることはありません。">lock</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense>
            <mat-list-item>
              <p matLine>2018.4</p>
              <p matLine>Lorem ipsum dolor sit amet consectetur.</p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>2018.4</p>
              <p matLine>Lorem ipsum dolor sit amet consectetur.</p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>2018.4</p>
              <p matLine>Lorem ipsum dolor sit amet consectetur.</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            バッジ
            <button mat-icon-button class="edit-button">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip selected="true">リーダー経験者</mat-chip>
                <mat-chip selected="true">勉強会開催経験者</mat-chip>
                <mat-chip>顧客折衝経験者</mat-chip>
                <mat-chip>デザインマスター</mat-chip>
                <mat-chip>フロントエンドマスター</mat-chip>
                <mat-chip>コーダーマスター</mat-chip>
                <mat-chip>サーバーサイドマスター</mat-chip>
                <mat-chip>安定稼働者</mat-chip>
                <mat-chip>古株</mat-chip>
                <mat-chip>ディレクター経験者</mat-chip>
                <mat-chip>実務経験者</mat-chip>
                <mat-chip>常駐経験者</mat-chip>
              </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
