@import "variables";

.content {
  padding: 24px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  &__body {
    padding: 0 15px;
  }
  &__image {
    width: 100px;
    border-radius: 50%px;
  }
  &__name {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
  }
  &__type {
    font-size: 12px;
    color: #999;
    margin: 8px 0 0;
  }
}

.rank-hint {
  text-align: center;
  margin-bottom: 16px;
  strong {
    font-weight: bold;
    color: $primary;
  }
}


.grid-container {
  margin: 20px;
}

.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.help-button,
.edit-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.profile-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  mat-list-item {
    width: 50%;
    box-sizing: border-box;
  }
}

.works {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.work {
  text-align: center;
  width: 180px;
  margin-left: 24px;
  &:first-child {
    margin-left: 0;
  }
  &__thumbnail {
    margin: 0;
    width: 180px;
    height: 180px;
    background: center/cover no-repeat;
    border-radius: 8px;
  }
  &__title {
    margin: 10px 0 5px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__date {
    font-size: 12px;
    color: #999;
    margin: 0;
    line-height: 1;
  }
}


.rank-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rank {
  text-align: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  &__label {
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    margin: 0;
    color: $primary;
    border-radius: 50%;
    border: 10px solid rgba($primary, .4);
  }
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.profile-description {
  font-size: 13px;
  padding: 16px 0;
}
