<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink>ユーザー</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button mat-button routerLink="">Update</button>
        <span class="spacer"></span>
        <div *ngIf="!(isHandset$ | async)">
          <button mat-button routerLink="" *ngIf="develop">ダッシュボード</button>
          <button mat-button routerLink="users">ユーザー</button>
          <button mat-button routerLink="training" *ngIf="develop">トレーニング</button>
          <button mat-button routerLink="jobs" *ngIf="develop">ジョブ</button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button *ngIf="user$ | async as user" mat-menu-item routerLink="users" routerLink="users/{{user.gitHub}}">
              <mat-icon>account_circle</mat-icon>
              <span>マイページ</span>
            </button>
            <button *ngIf="!(user$ | async)" mat-menu-item routerLink="login">
              <mat-icon>input</mat-icon>
              <span>ログイン</span>
            </button>
            <button *ngIf="develop" mat-menu-item routerLink="login">
                <mat-icon>developer_mode</mat-icon>
                <span>Develop</span>
              </button>
            <button mat-menu-item routerLink="help">
              <mat-icon>help</mat-icon>
              <span>ヘルプ</span>
            </button>
            <button *ngIf="user$ | async" mat-menu-item (click)="signOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>ログアウト</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-progress-bar *ngIf="isPageLoading | async" mode="indeterminate"></mat-progress-bar>
    <main class="wrap">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer class="footer">
      <p>&copy; Deer, Inc.</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
