<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="educations">
    <div *ngFor="let education of educations.controls; index as i" class="ctrl-group">
      <div [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="学校名" formControlName="name" required autocomplete="off">
        </mat-form-field>
        <mat-form-field class="ctrl-group__date">
          <input matInput [matDatepicker]="startDp" placeholder="開始" formControlName="start" required autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="startDp"></mat-datepicker-toggle>
          <mat-datepicker #startDp startView="multi-year" (yearSelected)="chosenYearHandler($event, education.controls.start)" (monthSelected)="chosenMonthHandler($event, startDp, education.controls.start)"
            panelClass="month-picker">
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="ctrl-group__date">
          <input matInput [matDatepicker]="endDp" placeholder="終了" formControlName="end" required autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="endDp"></mat-datepicker-toggle>
          <mat-datepicker #endDp startView="multi-year" (yearSelected)="chosenYearHandler($event, education.controls.end)" (monthSelected)="chosenMonthHandler($event, endDp, education.controls.end)"
            panelClass="month-picker">
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="ctrl-group__textarea">
          <textarea matInput placeholder="概要" formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <button mat-icon-button type="button" (click)="removeCtrl(i)" class="ctrl-group__action">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
    <div class="ctrl-group-add">
      <button mat-mini-fab type="button" (click)="addCtrl()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="dialog-actions">
    <button type="button" mat-button mat-dialog-close>キャンセル</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid">更新</button>
  </div>
</form>
