<h2 mat-dialog-title>ランクと報酬</h2>
<mat-dialog-content>
  <p>ランクに応じて UpdateJobs の単価が上がります。Todoをこなしたり、トレーニングをクリアすることでポイントがたまり、ランクテストを受けられるようになります。ランクテストに合格するとランクアップします。</p>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>ランク</th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>日単価</th>
      <td mat-cell *matCellDef="let element"> {{element.day || '出来高'}} </td>
    </ng-container>

    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef>月単価</th>
      <td mat-cell *matCellDef="let element"> {{element.month || '出来高'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <p class="notice">非活性な状態が続くとポイントが減っていきます。</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
