<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="works">
    <div *ngFor="let work of works.controls; index as i" class="ctrl-group">
      <div [formGroupName]="i">
        <mat-form-field class="ctrl-group__text">
          <input matInput autocomplete="none" placeholder="タイトル" formControlName="title" required>
        </mat-form-field>
        <mat-form-field class="ctrl-group__date">
            <input matInput autocomplete="off" [matDatepicker]="dp" placeholder="時期" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, work.controls.date)" (monthSelected)="chosenMonthHandler($event, dp, work.controls.date)"
              panelClass="month-picker">
            </mat-datepicker>
          </mat-form-field>
        <mat-form-field class="ctrl-group__text">
          <input matInput type="url" placeholder="URL" autocomplete="off" formControlName="url" required>
        </mat-form-field>
        <mat-form-field class="ctrl-group__text">
          <input matInput type="url" autocomplete="off" placeholder="ソースコード" formControlName="code">
        </mat-form-field>
        <mat-form-field class="ctrl-group__textarea">
          <textarea matInput placeholder="概要" formControlName="description" required></textarea>
        </mat-form-field>
      </div>
      <button mat-icon-button type="button" (click)="removeCtrl(i)" class="ctrl-group__action">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
    <div class="ctrl-group-add">
      <button mat-mini-fab type="button" (click)="addCtrl()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="dialog-actions">
    <button type="button" mat-button mat-dialog-close>キャンセル</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid">更新</button>
  </div>
</form>
