<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="experiences">
    <div *ngFor="let experience of experiences.controls; index as i" class="form-array-item">
      <div [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="企業名" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="startDp" placeholder="開始" formControlName="start">
          <mat-datepicker-toggle matSuffix [for]="startDp"></mat-datepicker-toggle>
          <mat-datepicker #startDp startView="multi-year" (yearSelected)="chosenYearHandler($event, experience.controls.start)" (monthSelected)="chosenMonthHandler($event, startDp, experience.controls.start)"
            panelClass="month-picker">
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="endDp" placeholder="終了" formControlName="end">
          <mat-datepicker-toggle matSuffix [for]="endDp"></mat-datepicker-toggle>
          <mat-datepicker #endDp startView="multi-year" (yearSelected)="chosenYearHandler($event, experience.controls.end)" (monthSelected)="chosenMonthHandler($event, endDp, experience.controls.end)"
            panelClass="month-picker">
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="textarea">
          <textarea matInput placeholder="概要" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <button mat-icon-button type="button" (click)="removeCtrl(i)"><mat-icon>delete</mat-icon></button>
    </div>
    <button mat-button type="button" (click)="addExperience()"><mat-icon>add</mat-icon></button>
  </div>
  <button type="button" mat-button mat-dialog-close>キャンセル</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid">更新</button>
</form>
