<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <button mat-icon-button class="card-button" (click)="openRankDialog()">
          <mat-icon>help</mat-icon>
        </button>
        <mat-card-content class="dashboard-card-content">
          <div class="rank-wrap">
            <div class="rank">
              <p class="rank__label">A</p>
              <mat-progress-spinner color="" class="rank__progress" [value]="70"></mat-progress-spinner>
            </div>
            <p class="rank-hint">次のランクまであと
              <strong>X</strong>ポイント</p>
            <button mat-stroked-button disabled color="primary">ランクテストを受ける</button>
            <!-- <div class="prices">
              <p class="price" matTooltip="日給目安">10,000円/日</p>
              <p class="price" matTooltip="月給目安">20,000円/月</p>
            </div> -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Todo</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-selection-list dense>
            <mat-list-option>
              <span>プロフィールを入力する
                <span class="point">10</span>
              </span>
            </mat-list-option>
            <mat-list-option>
              <span>デイリーレポートを送信する
                <span class="point">10</span>
              </span>
            </mat-list-option>
            <mat-list-option>
              <span>「BEM」をクリアする
                <span class="point">20</span>
              </span>
            </mat-list-option>
            <mat-list-option>
              <span>勉強会を主催する
                <span class="point">20</span>
              </span>
            </mat-list-option>
            <mat-list-option disabled>
              <span>テストに合格する
                <span class="point">120</span>
              </span>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>News</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list dense>
            <mat-list-item>
              <span matLine>2018.4.5</span>
              <p matLine>トレーニングに「React Native」が追加されました。</p>
            </mat-list-item>
            <mat-list-item>
              <span matLine>2018.4.5</span>
              <p matLine>トレーニングに「React Native」が追加されました。</p>
            </mat-list-item>
            <mat-list-item>
              <span matLine>2018.4.5</span>
              <p matLine>トレーニングに「React Native」が追加されました。</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <iframe class="movie" src="https://www.youtube.com/embed/3IiWmNCEmL8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>イベント</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
