@import "variables";

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  height: 100%;
}

.rank-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rank {
  text-align: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  &__label {
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    margin: 0;
    color: $primary;
    border-radius: 50%;
    border: 10px solid rgba($primary, .4);
  }
  &__progress {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.rank-hint {
  text-align: center;
  margin-bottom: 16px;
  strong {
    font-weight: bold;
    color: $primary;
  }
}

.prices {
  display: flex;
  margin: 8px -8px -8px;
}

.price {
  line-height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  background: #eee;
  margin: 8px;
}

.movie {
  width: 100%;
  height: 100%;
}

.card-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
