@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import "variables";

html {
  height: 100%;
}

body {
  margin: 0;
  color: #333333;
  height: 100%;
}

* {
  font-family: "Noto Sans Japanese";
}

.nest-panel {
  .mat-dialog-container {
    border-radius: 8px;
    padding: 64px;
    overflow: hidden;
  }
  form {
    font-size: 13px;
  }
}

.point {
  line-height: 20px;
  border-radius: 10px;
  font-size: 10px;
  padding: 0 10px;
  background: $primary;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  vertical-align: 3px;
  margin-left: 16px;
  &:after {
    content: "pt";
  }
}


.markdown {
  iframe {
    display: block;
    max-width: 100%;
  }
}
