@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

html {
  height: 100%;
}

body {
  margin: 0;
  color: #333333;
  height: 100%;
}

* {
  font-family: "Noto Sans Japanese";
}

.nest-panel {
  .mat-dialog-container {
    border-radius: 8px;
    padding: 64px;
    overflow: hidden;
  }
  form {
    font-size: 13px;
  }
}
