<h1>トレーニング</h1>

<mat-grid-list cols="3" rowHeight="300px">
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let group of groups">
    <mat-card class="training-card">
      <p class="training-card__title">{{group.label}}</p>
      <mat-card-content>
        <p>{{group.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="[group.id, 'installation']">はじめる</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
