:host {
  display: block;
  padding: 30px 0;
}

.training-card {
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-flow: column;
  .mat-card-content {
    flex: 1;
  }
  &__title {
    padding: 60px 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin: -24px -24px 24px!important;
  }
}
